<section class="section">
  <h3 class="title is-2">components</h3>
  <p>
    This directory contains files for your <a href="http://knockoutjs.com/documentation/component-overview.html">components</a>.
    Components should be a directory with the component's name and contain at least an
    <code>index.js</code> that exports a component config object, and <code>template.html</code>
    that has the component template, and optionally a <code>viewModel.js</code> with the
    component viewModel.
  </p>
  <p>
    For example:

    <pre><code>
      components/
      -- side-nav/
      ---- index.js
      ---- template.html
    </code></pre>
  </p>
  <p>
    Component <code>index.js</code> files have the convention

    <pre><code>
      export { default as viewModel } from './viewModel.js'
      export { default as template } from './template.html'
    </code></pre>
  </p>
  <p>
    Components in this directory will be loaded automatically
  </p>
</section>
